.App {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  height: 400px;
  width: 600px;
  margin: -100px 0 0 -320px;
  top: 20%;
  left: 50%;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.Display {
  background-color: white;
  position: relative;
  margin: 0 auto;
 border-spacing: .5rem;
}

.Driver {
  background-color: lightgrey;
}

.Navigator {
  background-color: yellow;
}

.inputField {
  text-align: left;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Start {
  text-align: center;
  background-color: #2eb82e;
  font-size: large;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

.Stop {
  text-align: center;
  background-color: #ff0000;
  font-size: large;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.App-intro {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #2eb82e;
  padding: 30px;
  text-align: center;
  font-size:  150%;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
